:root {
  --green: #0f6805;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
}

* {
  font-family: Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  transition: all 0.2s linear;
}

.container {
  background: #eee;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 3, 31);
  padding: 10px 20px  10px 20px;
}

.logo {
  color: #fff;
  font-size: 18px;
  font-style: bold;
}

.logo i {
  color: var(--green);
}

.nav-list {
  list-style: none;
  display: none;
}

.nav-list li a {
  color: #fff;
}

.menu-btn {
  color: #fff;
  padding-left: 40%;
  font-size: 20px;
  cursor: pointer;
}

.menu-btn:hover {
  color: var(--green);
}

.date-container {
  float: right;
  margin: 10px auto 10px auto;
  font-weight: bold;
}

#book-form {
  display: none;
  margin: 20% 2% 2% 2%;
  width: 90%;
  padding: 10px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
}

.form-group label {
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
}

.add-btn {
  padding: 10px;
  width: 17%;
  border-radius: 4px;
  margin: auto 30%;
  font-size: 15px;
  background-color: var(--green);
  color: #fff;
  box-shadow: var(--box-shadow);
}

.add-btn:hover {
  cursor: pointer;
  background-color: #eee;
  color: rgb(9, 3, 31);
}

#bookList {
  margin: 20% 0 0 0;
}

.awesome {
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: var(--green);
  font-size: 25px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.data {
  text-transform: capitalize;
  background-color: #ffe;
}

.delete {
  color: rgb(139, 14, 14);
  cursor: pointer;
}

.data:nth-child(odd) {
  background-color: rgb(185, 184, 188);
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(9, 3, 31);
  color: var(--green);
  display: flex;
  align-items: center;
}

.footer-content {
  font-size: 18px;
  margin: auto 20%;
}

.footer-content span {
  color: #fff;
}

#contactInfo {
  display: none;
  margin: 20% 0 0 0;
}

.contact-container {
  padding: 20px;
}

.reachout {
  text-transform: capitalize;
  margin-top: 10px;
}

.contact-list {
  list-style: none;
  margin-top: 20px;
}

.contact-list li {
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .navbar .menu-btn {
    display: none;
  }

  .navbar .nav-list {
    display: flex;
    gap: 20px;
  }

  .nav-list li a:hover {
    color: var(--green);
  }

  #bookList {
    margin: 10px;
    width: 80%;
    padding-left: 9%;
  }

  #book-form {
    width: 50%;
    margin-left: 22%;
    margin-top: 10%;
  }

  #contactInfo {
    margin-top: 10%;
    margin-left: 30%;
  }

  .h1-contact {
    margin-left: 15px;
  }

  .footer-content {
    margin-left: 40%;
  }
}
